<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/list-style.css}" rel="stylesheet" />
<title>Lista studentów</title>
</head>
<body>
  <div class="root">
   <h1>Lista studentów</h1>
   <p>
     <a th:href="@{/projektList}">Lista Projektów</a>
     <a th:href="@{/zadanieList}">Lista zadań</a>
   </p>
   <p>
     <a th:href="@{/studentEdit}">Dodaj studenta</a>
   </p>
   <table>
    <thead>
      <tr>
<th>Id</th>
<th>Imię</th>
<th>Nazwisko</th>
<th>Nr indeksu</th>
<th>Email</th>
<th>Stacjonarny</th>
<th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="student : ${studenci}">
<td th:text="${student.studentId}">Id</td>
<td th:text="${student.imie}">Imię</td>
<td th:text="${student.nazwisko}">Nazwisko</td>
<td th:text="${student.nrIndeksu}">Nr indeksu</td>
<td th:text="${student.email}">Email</td>
<td th:text="${student.stacjonarny ? 'Tak' : 'Nie'}">Stacjonarny</td>
<td><a th:href="@{/studentEdit(studentId=${student.studentId})}">Edytuj</a><br>
    <a th:href="@{/studentEdit(studentId=${student.studentId},delete='true')}">Usuń</a>
</td>
      </tr>
    </tbody>
   </table>
 </div>
</body>
</html>
